<h1 class="allData-title">{{ title }}</h1>
<table class="allData-table" border="1">
    <thead>
        <tr class="allData-thead-tr">
            <th>Invoice Number</th>
            <th>Manufacturer</th>
            <th>Image</th>
            <th>Class</th>
            <th>Sales in Thousands</th>
            <th>Year Resale Value</th>
            <th>Price in Thousands</th>
            <th>Engine Size</th>
            <th>Horsepower</th>
            <th>Wheelbase</th>
            <th>Width</th>
            <th>Length</th>
            <th>Curb Weight</th>
            <th>Fuel Capacity</th>
            <th>Fuel Efficiency</th>
            <th>Latest Launch</th>
            <th>Power Performance Factor</th>
        </tr>
    </thead>
    <tbody>
        {{#each sales}}
            {{!-- Check if class has value --}}
            {{#if class}}
                <tr class="allData-tbody-tr">
                    <td>{{ InvoiceNo }}</td>
                    <td>{{ Manufacturer }}</td>
                    <td><img src="{{ image }}" alt="Car Image" width="100"></td>
                    <td>{{ class }}</td>
                    <td>{{ Sales_in_thousands }}</td>
                    <td>{{ __year_resale_value }}</td>
                    <td>{{ Price_in_thousands }}</td>
                    <td>{{ Engine_size }}</td>
                    <td>{{ Horsepower }}</td>
                    <td>{{ Wheelbase }}</td>
                    <td>{{ Width }}</td>
                    <td>{{ Length }}</td>
                    <td>{{ Curb_weight }}</td>
                    <td>{{ Fuel_capacity }}</td>
                    <td>{{ Fuel_efficiency }}</td>
                    <td>{{ Latest_Launch }}</td>
                    <td>{{ Power_perf_factor }}</td>
                </tr>
            {{/if}}
        {{/each}}
    </tbody>
</table>